/*General Setting*/
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #000;
}

*:not(ul) {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #fff;
}

/*Mobile devices & Tablets*/
@media (max-width: 600px) {

    html,
    body {
        font-size: 16px;
    }

    .tiny {
        font-size: 12px;
    }
}

/*Tablets & Laptiops*/
@media (min-width: 601px) and (max-width: 1550px) {

    html,
    body {
        font-size: 18px;
    }

    .tiny {
        font-size: 14px;
    }
}

/*Laptops & Desktops*/
@media (min-width: 1551px) and (max-width: 1920px) {

    html,
    body {
        font-size: 20px;
    }

    .tiny {
        font-size: 16px;
    }
}

/*TV and super large screen desktops*/
@media (min-width: 1921px) {

    html,
    body {
        font-size: 24px;
    }

    .tiny {
        font-size: 18px;
    }
}










/* Navbar */
nav {
    background: #000;
    padding-left: 15px;
    padding-right: 15px;

    /*@media's nav #nav-links depends on this*/
    /*main min-height depends on this*/
    height: 95px;
}

nav * {
    font-family: 'Carter One', 'Concert One', 'Patua One', cursive;
    color: #fff;
}


nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav#small-screen,
nav#ultra-small-screen {
    /*font-size is the same for mobile & tablets*/
    font-size: 20px;
}


nav#small-screen #nav-links,
nav#ultra-small-screen #nav-links {
    display: none;

    position: absolute;
    top: 95px;
    /*95px - nav height*/
    left: 0;
    right: 0;
    z-index: 1;
    height: fit-content;

    background-color: #000;

    animation: dropping-nav 0.35s ease-in-out;
}

@keyframes dropping-nav {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0.7;
    }
}


nav#small-screen #nav-links>*,
nav#ultra-small-screen #nav-links>* {
    margin: 10px 20px;
}

nav#ultra-small-screen #nav-links>select {
    margin-top: 20px;
}

nav#ultra-small-screen #nav-links:last-child {
    padding-bottom: 10px;
}

nav#small-screen #nav-links:last-child {
    padding-bottom: 15px;
}

.nav-link {
    transition: all .2s ease-in-out;
}

nav#small-screen .nav-link:hover,
nav#ultra-small-screen .nav-link:hover {
    font-weight: 600;
    transform: translate(10%, 0) scale(1.2);
}

nav#large-screen .nav-link:hover {
    font-weight: 600;
    transform: scale(1.2);
}


#menu-button-ultra-small,
#menu-button-small,
#home-button {
    background: transparent;

    border: 1px solid #fff;
    border-radius: 6px;

    padding: 10px 20px;

    transition: 0.5s;
}

#home-button:hover {
    background: #fff;
    color: #000;
    transition: 1s;
}

/* 3-line menu icon */
.line1,
.line2,
.line3 {
    width: 35px;
    height: 3px;

    background-color: #fff;

    border-radius: 5px;
    margin: 6px 0;

    transition: 0.5s;
}

.line1.nav-expanded {
    transform: translate(0, 9px) rotate(45deg);
}

.line2.nav-expanded {
    opacity: 0;
}

.line3.nav-expanded {
    transform: translate(0, -9px) rotate(-45deg);
}


.language-dropdown {
    background: transparent;
    font-size: 12px;
    text-align: center;

    border: 1px solid #fff;
    border-radius: 25px;

    appearance: none;

    height: fit-content;
    width: fit-content;

    padding: 6px 10px;

    color: #fff;
    font-family: Arial, sans-serif !important;
}

.language-dropdown:hover,
.language-dropdown option {
    font-family: Arial, sans-serif !important;
    background: #fff;
    color: #000;
    transition: 1s;
}


#animation-header {
    background: #000;
    color: #fff;
    font-family: 'Orbitron', 'Changa', sans-serif;
    font-weight: 900;
    text-align: center;
    letter-spacing: 4px;

    padding: 20px;

    animation: text 2s 1;
}

@keyframes text {
    0% {
        color: #000;
    }

    30% {
        letter-spacing: 7px;
    }

    85% {
        letter-spacing: 4px;
    }
}

@media (max-width: 379px) {
    nav#ultra-small-screen {
        display: flex;
    }

    nav#small-screen {
        display: none;
    }

    .small-screens {
        display: block;
    }

    nav#large-screen {
        display: none;
    }

    nav #nav-links {
        top: 65px;
    }

    .language-dropdown {
        padding: 10px 10px;
    }

    #animation-header {
        font-size: 30px;
    }
}

@media (min-width: 380px) and (max-width: 925px) {

    nav#ultra-small-screen,
    nav#large-screen {
        display: none;
    }

    nav#small-screen {
        display: flex;
    }

    .small-screens {
        display: block;
    }

    nav #nav-links {
        top: 65px;
    }

    .language-dropdown {
        padding: 10px 10px;
    }

    #animation-header {
        font-size: 30px;
    }
}

@media (min-width: 926px) and (max-width: 1920px) {
    nav {
        font-size: 24px;
    }

    nav#ultra-small-screen,
    nav#small-screen,
    .small-screens {
        display: none;
    }

    nav#large-screen {
        display: flex;
    }

    #home-button {
        font-size: 30px;
    }

    #animation-header {
        font-size: 38px;
    }
}

@media (min-width: 1921px) {
    nav {
        font-size: 32px;
        display: none;
    }

    nav#ultra-small-screen,
    nav#small-screen,
    .small-screens {
        display: none;
    }

    nav#large-screen {
        display: flex;
    }

    #home-button {
        font-size: 34px;
    }

    .language-dropdown {
        font-size: 16px;
    }

    #animation-header {
        font-size: 46px;
    }
}










/*Content + Footer Alignment*/
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    word-wrap: break-word;
}

main img {
    /*for old browsers*/
    max-width: 100vw;
}

footer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 0.5px solid grey;
}

footer small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    line-height: 1.75;
}

footer span {
    display: flex;
    flex-wrap: nowrap;
}

footer a {
    display: flex;
    align-items: center;
}

@media (max-width: 925px) {
    main {
        min-height: calc(100vh - 95px - 79px);
        /* 95px is the height of nav
        79px is the height of #animation-header for small screens */
    }

    footer {
        font-size: 14px;
        height: 50px;
    }
}

@media (min-width: 926px) and (max-width: 1920px) {
    main {
        min-height: calc(100vh - 95px - 89px);
        /* 95px is the height of nav
        89px is the height of #animation-header for medium screens */
    }

    footer {
        font-size: 16px;
        height: 60px;
    }
}

@media (min-width: 1921px) {
    main {
        min-height: calc(100vh - 95px - 100px);
        /* 95px is the height of nav
        100px is the height of #animation-header for large screens */
    }

    footer {
        font-size: 20px;
        height: 75px;
    }
}


main#index {
    min-height: calc(100vh - 95px);
    /* 95px is the height of nav
       index page doesn't have #animation-header */
}










/*Content Custom Setting (side paddings, font styles, etc)*/

/*Alignments*/
.center {
    text-align: center;
}

.content>div p {
    min-width: 370px;
}

@media (max-width: 480px) {
    .content>div p {
        min-width: 0;
    }
}

#index .content>div:not(:last-child) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 35px;

    padding-bottom: 25px;
}

@media (min-width: 926px) {
    #index .content>div:not(:last-child) {
        padding-top: 15px;
    }
}

#index .content>div:nth-child(2) {
    flex-wrap: wrap-reverse;
}

/* map on the main page */
#index .content>div:last-child {
    margin-top: 40px;
    text-align: center;
}

/* between map & text underneath */
#index .content>div:last-child>:first-child {
    margin-bottom: 5px;
}

#index .content>div>* {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}

#index .content>div>img,
#index .content>div>a {
    flex-grow: 0.2;
    flex-shrink: 0.2;
}

#references>*:not(:last-child) {
    margin-bottom: 25px;
}

/*Text stylings*/
h1 {
    font-family: 'Changa', sans-serif;
    font-size: 1.7rem;
    line-height: 1.2em;

    color: #3e7da8;

    padding-bottom: 25px;
}

main a {
    font-weight: 700;
    cursor: pointer;
}

main a:not(footer a) {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(182, 182, 182);
}

.reference-title {
    font-style: italic;
}


/*Images*/
img,
iframe {
    border-radius: 2px;
}

a>img {
    border-radius: 10px;
}

iframe {
    /* map on the main page */
    height: 300px;
    width: 700px;
}

img {
    object-fit: cover;
}

img#logo {
    height: 100%;
}

.img-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-link>img {
    width: 100%;
}

footer img {
    border-radius: 0;
    width: 20px;
    margin-bottom: 3px;
}

/*Image animations*/
.scaleup,
.scaledown {
    transition: all 0.5s;
}

.scaleup:hover {
    transform: scale(0.8);
}

.scaledown:hover {
    transform: scale(0.8);
}

/*Custom screen size stylings & side paddings*/
@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .content {
        padding: 25px 25px;
    }

    main img,
    iframe {
        /*for new browsers*/
        max-width: calc(100vw - 50px);
        /* 50px - side paddings of .content */
    }
}

@media (min-width: 481px) and (max-width: 769px) {
    h1 {
        font-size: 1.5rem;
    }

    .content {
        padding: 25px 7%;
    }

    main img,
    iframe {
        /*for new browsers*/
        max-width: calc(100vw - 14%);
        /* 14% - side paddings of .content */
    }
}

@media (min-width: 770px) and (max-width: 925px) {
    .content {
        padding: 25px 12%;
    }

    main img,
    iframe {
        /*for new browsers*/
        max-width: calc(100vw - 24%);
        /* 24% - side paddings of .content */
    }
}

@media (min-width: 926px) {
    .content {
        padding: 25px 15%;
    }

    main img,
    iframe {
        /*for new browsers*/
        max-width: calc(100vw - 30%);
        /* 30% - side paddings of .content */
    }
}