/* Everything that is not currently used */

/*Text styling*/
.shadow {
    text-shadow: 2px 2px #000;
}

.shadow_small {
    text-shadow: 1px 1px #000;
}

#welcome-message {
    text-align: center;
    color: #3e7da8;
    font-family: 'Changa', sans-serif;
    line-height: 1.2em;
}

.large-header {
    text-align: center;
    color: #6a8788;
    font-family: 'Orbitron', 'Changa', sans-serif;
}

.large-header>span {
    color: #c4af80;
}

.mid-header {
    text-align: center;
    color: #6a8788;
    font-family: 'Orbitron', 'Changa', sans-serif;
}

h1.skills {
    color: #3b4262;
}

.mid-header.path {
    color: #1bb0e2;
}


/*CONTENT*/
.content {

}



/*Animations*/
.scaleup,
.scaledown {
    transition: all 0.3s;
}

.scaleup:hover {
    transform: scale(1.2);
}

.scaledown:hover {
    transform: scale(0.8);
}